@{
    ViewBag.Title = "Đặt hàng thành công";
}

<h2>Cảm ơn bạn!</h2>
<p>Đơn hàng của bạn đã được đặt thành công.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Tiếp tục mua sắm</a>
